@model IEnumerable<Blog>
@{
    ViewData["Title"] = "myBlogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>myBlogs</h1>
<form method="Post">
    


</form>
@foreach(var m in Model)
{

    @m.Title;
}
